<div class="container">
  <%= form_for :trip do |f| %>
  <div class="form-group">
    <%= f.label :trip_name, class: "form-text" %>
    <%= f.text_field  :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :start_date, class: "form-text" %>
    <%= f.date_field  :start_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :end_date, class: "form-text" %>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= fields_for @users do |c|%>
      <%= c.label :user_id, class:"form-text" %>
      <%= c.collection_select :user_id, User.all, :id, :name, class: "form-control"%>
  </div>
    <%end%>
  <div class="form-group">
      <%= fields_for @flights do |p|%>
      <%=p.label :flight_number, class: "form-text"%>
      <%=p.number_field :flight_number, class: "form-control"%>
  </div>
  <div class="form-group">
    <%=p.label :final_destination, class: "form-text"%>
    <%=p.collection_select :country_ids, Country.all, :id, :name, class: "form-control"%>
  </div>
  <div class="form-group">
    <%=p.label :origin_airport, class: "form-text"%>
    <%=p.collection_select :origin_airport, Flight.all, :id, :origin_airport, class: "form-control"%>
  </div>
  <div class="form-group">
    <%=p.label :destination_airport, class: "form-text"%>
    <%=p.collection_select :destination_airport, Flight.all, :id, :destination_airport, class: "form-control"%>
  </div>
  <%end%>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<%end%>
</div>
