
<h1><%= @trip.name.titleize%></h1>
 <%@trip.flights.find do |flight|%>
<p> Departure Date: <%= @trip.start_date %></p>
<p> Departure Flight Number: <%=flight.flight_number%> </p>
<p> Departing From: <%=flight.origin_airport%></p>
<p> Return Date: <%= @trip.end_date %></p>
<p> Arriving At: <%=flight.destination_airport%></p>
<p>Countries being visited: 
<%end%>
<ul>
<%@trip.countries.each do |country|%>
<li> <%=country[:name]%></li>
<%end%>
</ul>
<p> Activities: </p>



<button><%=link_to "Edit Trip", "trips/#{@trip.id}", method: :edit%></button>
<br>
<button><%=link_to "Delete Trip", "trips/#{@trip.id}", method: :delete, data: {confirm: "Are you sure?"} %></button>
  <br>
<button><%=link_to "Return to all Trips", trips_path %></button>
  
<br>

  <ul>
  <h3>County details</h3>
    <%@trip.countries.each do |country|%>
        <li class="list-group-item text-center">Country:
        <%=country.name%><br>
        Currency: <%=country.currency %></li>
      <%end%>
        </ul>
 

