<h1><%= @trip.name.titleize%></h1>

<p> Departure Date: <%= @trip.start_date %></p>
  <%@trip.flights.each do |flight|%>
<p> Departure Flight Number: <%=flight.flight_number%> </p>
<p> Departing From: <%=flight.origin_airport%></p>
<p> Return Date: <%= @trip.end_date %></p>
<p> Arriving At: <%=flight.destination_airport%></p>
<p>Countries being visited: 
<ul>
<%@trip.countries.each do |country|%>
<li> <%=country.name%></li>
<%end%>
</ul>
<p> Activities: </p>
<%end%>

<a href="<%=@trip.id%>/edit"><button type="button">Edit Trip</button></a>
<%= form_tag(trip_path(@trip), method: "delete") %>
  <%= submit_tag "Delete Trip" %>



  <ul>
  <h3>County details</h3>
    <%current_user.countries.uniq.each do |country|%>
        <li class="list-group-item text-center">Country:
        <%=country.name%><br>
        Currency: <%=country.currency %></li>
      <%end%>
        </ul>
 

