<h1><%= @trip.name.titleize%></h1>

<p> Departure Date: <%= @trip.start_date %></p>
<p> Departure Flight Number: </p>
<p> Departing From: </p>
<p> Return Date: <%= @trip.end_date %></p>
<p> Arriving At: </p>
<p> Countries being visited: </p>
<p> Activities: </p>

<a href="<%=@trip.id%>/edit"><button type="button">Edit This Trip</button></a>
<%= form_tag trips_path(@trip.id), method: "delete" do %>
  <%= submit_tag "Delete This Trip" %>
<%end%>



  <ul>
    <%Trip.all.each do |trip|%>
      <%trip.flights.each do |flight|%>
        <%flight.country_id%>
        <li class="list-group-item text-center">Country:
        <%=Country.find_by(id:flight.country_id).name%><br>
        Currency: <%=Country.find_by(id:flight.country_id).currency %></li>
      <%end%>
    <%end%>
  </ul>
