





<div class="container">
<div>
<% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |e| %>
        <li class="error"><%= e %></li>
    <% end %>
    </ul>
<% end %>
</div>
<%= form_for @user do |f| %>
 <div class="form-group">
 <%= f.label :name, class: "form-text"%><br>
 <%= f.text_field :name, class:"form-control", placeholder: "Name" %>
 </div>
 <div class="form-group">
 <%= f.label :passport_number, class: "form-text"%><br>
 <%= f.number_field :passport_number, class:"form-control", placeholder: "Passport Number" %>
 </div>
 <div class="form-group">
 <%= f.label :username, class: "form-text"%><br>
 <%= f.text_field :username, class:"form-control", placeholder: "Username"%>
 </div>
 <div class="form-group">
 <%= f.label :password, class: "form-text"%><br>
 <%= f.password_field :password, class:"form-control", placeholder: "Password" %>
 <%= f.label "Password must contain 8 or more characters, a number, a lower case character, an upper case character & a symbol.", class: "form-text"%><br>
 </div>
 <div class="form-group">
 <%=f.label :password_confirmation %>
 <%=f.password_field :password_confirmation%>
 </div>
 <div class="form-group">
 <%= token_tag %> 
 <%= f.submit "Submit", class: "btn btn-primary" %>
 <%end %>
 </div>
