<div class="container">
<%= form_for :user do |f| %>
 <div class="form-group">
 <%= f.label :name, class: "form-text"%><br>
 <%= f.text_field :name, class:"form-control", placeholder: "Name" %>
 </div>
 <div class="form-group">
 <%= f.label :passport_number, class: "form-text"%><br>
 <%= f.number_field :passport_number, class:"form-control", placeholder: "Passport Number" %>
 </div>
 <div class="form-group">
 <%= f.label :username, class: "form-text"%><br>
 <%= f.text_field :username, class:"form-control", placeholder: "Username"%>
 </div>
 <div class="form-group">
 <%= f.label :password, class: "form-text"%><br>
 <%= f.text_field :password, class:"form-control", placeholder: "Password" %>
 </div>
 <div class="form-group">
 <%= f.submit "Submit", class: "btn btn-primary" %>
 </div>
<%end %>
