<h1 class="text-center"><u><%=current_user.name.titleize%>'s Trips</u></h1>
<br>
<h2 class="text-center"> Upcoming Trips </h2>
<ul>

<%current_user.trips.each do |trip|%>
<%if trip.end_date > Date.today%>
<div class="row">
<div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-header"><%= link_to trip.name.titleize, trip_path(trip) %>
      </div>
      <div class="card-body">
      <p class="card-text">Trip start date: <%=trip.start_date%></p>
      <p class="card-text">Trip end date: <%=trip.end_date%>.</p>
      </div>
</div>
</div>
<% end %>
<% end %>

<h2 class="text-center"> Past trips </h2>

<%current_user.trips.each do |trip|%>
      <%if trip.end_date < Date.today%>
      <div class="row">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header"><%= link_to trip.name.titleize, trip_path(trip) %>
            </div>
            <div class="card-body">
            <p class="card-text">Trip start date: <%=trip.start_date%></p>
            <p class="card-text">Trip end date: <%=trip.end_date%>.</p>
            </div>
      </div>
      </div>
      <% end %>
      <% end %>

      
<br>
  <h2 class="text-center">Countries Visited</h2>
  <ul>
      <%if current_user.user_trip_countries != [] %>
      <%current_user.countries.uniq.each do |country|%>
                  <li class="list-group-item text-center">Country:&nbsp&nbsp<%=country.name%>&nbsp&nbsp   ---&nbsp &nbsp Currency:&nbsp&nbsp <%=country.currency %></li>

            <%end%>
      <%end%>