<h1 class="text-center"><u><%=current_user.name.titleize%>'s Trips</u></h1>
<br>
<h2 class="text-center"> Upcoming Trips </h2>
<ul>


      <%current_user.trips.each do |trip|%>
            <%if trip.end_date > Date.today%>
                  <li class= "list-group-item text-center" > Trip Name: <%= link_to trip.name, trip_path(trip) %> Trip start date: <%=trip.start_date%> Trip end date: <%=trip.end_date%></li>
            <%end%>    
      <%end%>

</ul>

<br>
<h2 class="text-center"> Past trips </h2>
<div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
<ul>
<%current_user.trips.each do |trip|%>
            <%if trip.end_date < Date.today%>
                  <li class= "list-group-item text-center" > Trip Name: <%= link_to trip.name, trip_path(trip) %> Trip start date: <%=trip.start_date%> Trip end date: <%=trip.end_date%></li>
            <%end%> 
      <%end%>
</ul>
</div>
<br>
  <h2 class="text-center">Country Details</h2>
  <ul>
      <%if current_user.user_trip_countries != [] %>
      <%current_user.countries.uniq.each do |country|%>
                  <li class="list-group-item text-center">Country:&nbsp&nbsp<%=country.name%>&nbsp&nbsp   ---&nbsp &nbsp Currency:&nbsp&nbsp <%=country.currency %></li>

            <%end%>
      <%end%>



<br>
<br>
<br>
        
  </ul>

  <a href="/trips/new"><button>Create A New Trip</button></a>&nbsp&nbsp
  <a href="<%= @user.id %>/edit" ><button type="button">Edit User</button></a>&nbsp&nbsp
  <button><%= link_to "Delete User", user_path(@user), method: "delete" %></button>


