<h1 style="text-align: center;"> All Posts </h1>

<div class="card-deck">
<div class="card-columns">

          <% @posts.each do |post| %>
        <div class="card ml-5" style="width: 18rem;">
            <div class="card border-dark mr-3 mb-0 mt-0 ml-0 " style="max-width: 18rem;">
                <div class="card-header text-grey link-grey bg-transparent border-dark" style="font-family: 'Permanent Marker', cursive;"><%=link_to "#{post.title.titleize}".html_safe, post_path(post), class: "text-secondary"%></div>
                <div class="card-subheader text-dark bg-transparent border-dark ml-2" style="font-family: 'Permanent Marker', cursive;" >By: <%= link_to post.user.name.titleize, user_path(post.user.id), class: "text-dark" %></div>       <div class="card-body text-dark">
                <p class="card-text"><%= post.content %></p>
                </div>
                    <div class="card-footer bg-transparent border-dark"><% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                        <% if pre_like %>
                        <%= link_to ' ', post_like_path(post, pre_like), method: :delete, class: "fas fa-heart"  %>
                        <% else %>
                        <%= link_to ' ', post_likes_path(post.id), method: :post, class: "far fa-heart"%>&nbsp&nbsp&nbsp&nbsp
                        <% end %>
                        &nbsp&nbsp&nbsp&nbsp   Likes: <%=post.likes.count%>
                    </div>
            </div>
        </div>
       
         <% end %>
</div>
</div>