
<div class="card" style="width: 80rem;">
<div class="card-body">
<h1 style="font-family: 'Permanent Marker', cursive;"><%= @post.title.titleize %></h1>
<h3> By: <%= link_to @post.user.name.titleize, user_path(@post.user.id) %></h3>
        <p class="card-text"><%= @post.content %></p>
        <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
        <%= link_to ' ', post_like_path(@post, pre_like), method: :delete, class: "fas fa-heart" %> 
        <% else %>
         <%= link_to ' ', post_likes_path(@post), method: :post, class: "far fa-heart"%> 
          <button class="text-dark"><%= link_to "Edit Post", edit_post_path, class: "text-dark"%></button>
        <% end %>
    </div>
</div>




<br>
<br>
<br>
<br>
<br>
<br>

<button><%=link_to 'Back to all posts', posts_path %></button>

